
<%= link_to 'Back',locations_path %> <br>

    
            <%=@location.name%>
      
   
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/<%= @location.picture%>" width="400">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <%= @location.address%>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <%= @location.description%>
        </div>
    </div>

<!-- <div class="row">
    <div class="col-md-7">
        <hr/>
        <div class="review-block">
            <div class="row">
            </div>
        </div>
    </div>
</div> -->


<!-- Average user rating -->
<!-- <div class="container">    -->
<!--     <div class="row">
    <div class="col-sm-6">
        <div class="rating-block">
            <h4>Average user rating</h4>
            <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    -->
    <!-- <div class="col-sm-3">
        <h4>Rating breakdown</h4>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
            </div>
            <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;">1</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
            </div>
            <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;">1</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
            </div>
            <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;">0</div>
        </div>
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
            </div>
            <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;">0</div>
        </div>
        
        <div class="pull-left">
            <div class="pull-left" style="width:35px; line-height:1;">
                <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
            </div>
            <div class="pull-left" style="width:180px;">
                <div class="progress" style="height:9px; margin:8px 0;">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin-left:10px;">0</div>
        </div>
    </div>
</div>


 <!- iterate over the review -->
    <% @locationreviews.each do |review| %>
      <div class="col-sm-3">
        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
	<div class="review-block-name"><a href="#"> <%= review.user_name %> </a></div>
	<div class="review-block-date"> January 29, 2016 <br/>1 day ago</div>
      </div>
      <div class="review-block-description"> 
        <p><%= review.comment %></p>
	<% 5.times do |i| %>
          <div class="col-md-9">  <!-- display the colored star -->
	    <% if i + 1 <= review.rating %>
	      <div class="review-block-rate">
	        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
		  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
              </div>        
	    <% else %>
              <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
                
    <div class="row">
        <div class="col-md-8">
            <% if user_signed_in? %>
                <%= render "reviews/new" %>
            <% end %>
        </div>
    </div>

    
    <!-- MAP NEEDS TO GET FIXED -->
     <!--  <div class="map-wrapper">
            <div id="map">
                <script>
                    var map = new Airmap.Map('336d16157d9c1e7ebc0d474c2271b879078ab6b72f34ede439b6e97c5f2aedbd',{
                    container: 'map',
                    center: [33.9416, -118.4085],
                    zoom: 0,
                    theme: 'standard',
                    useLocation: true,
                    createFlights: true,
                    layers: ['airports_recreational', 'class_b', 'national_parks', 'tfrs']
                    });
                </script>
            </div>
        </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="js/bootstrap.min.js"></script>
          
