<!-- Stack the columns on mobile by making one full-width and the other half-width -->


<div class="container-fluid">
    <div class="location_font">
        Location: <strong><%=@location.name%></strong>



<div class="container-fluid map-section">
    <div class="row">
        <div class="col-md-6">
            <div class="map-wrapper"> 
                <div id="map">
                    <script>
                        console.log("SSDFSDFLSFKSDJFKSJDFSDFJKSDJFLJDLJLJFJDLSJFLSDJ")
                        var map = new Airmap.Map('336d16157d9c1e7ebc0d474c2271b879078ab6b72f34ede439b6e97c5f2aedbd',{
                            container: 'map',
                            center: [<%= @location.lat %>, <%= @location.lng %>],
                            zoom: 10,
                            theme: 'standard',
                            useLocation: true,
                            createFlights: true,
                            layers: ['airports_recreational', 'class_b', 'national_parks', 'tfrs'],
                            interactive: true
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="review-block">
                <% @locationreviews.each do |review| %>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                            <div class="review-block-name"><a href="#"> <%= review.user_name %> </a></div>
                            <div class="review-block-date"> May 29, 2016 <br/>1 day ago</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">
                                <p><%= review.comment %></p> 
                                <% 5.times do |i| %>
                                    <% if i + 1 <= review.rating %> 
                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </button>
                                    <% else %>
                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </button>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <hr>
                    </div>
                <% end %>
    </div>
</div>



<div class="container-fluid">
        <div class="img-location">
            <img width="500" height="240" src="/assets/<%= @location.picture%>">
        </div>

        <div class="rating-block">
          <h4><strong>Average user rating</strong></h4>
             <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
        </div>

    </div>
</div>

<div class="container-fluid img-desc">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-left">
            <p><%=@location.description%></p>
        </div>
    </div>
</div>
        <div class="row">   
            <div class="col-md-8">
                <% if user_signed_in? %>
                    <%= render "reviews/new" %>
                <% end %>
            </div>
        </div>
</div>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="" alt="">
          <p> Made by Sarah Abogabir with love @Ironhack<p/>
        </div>
      </div>
    </div>
</footer>








    