<!DOCTYPE html>
<html>

<head>
  <title>Drones United</title>
    
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <!-- Title main page "DRONES UNITED" -->
    <script src="http://cdn.airmap.io/map-sdk/1.1.1/dist/airmap.map.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,1000' rel='stylesheet' type='text/css'>
	   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	 <%= csrf_meta_tags %>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="/">Home</a> <img class="responsive-image outcome-focused", src="/assets/blue_logo.png">
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to 'Locations',locations_path %> </li>
            <% if current_user %>
                <li> <%= link_to 'Sign Out',destroy_user_session_path, method: :delete %> </li>
            <% else %>
                <li> <%= link_to 'Sign Up',new_user_registration_path %> </li>
                <li> <%= link_to 'Log in',new_user_session_path %> </li>
            <% end %>
            <li> <%= link_to 'About', '/about' %> </li>
            <li> <%= link_to '#noflyzone', '/no_fly_zone' %> </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<!-- ADDING FOOTER BELOW -->
<!-- <div class="container-fluid">
  <footer class="site-footer">
    <div class="row-footer">
      <div class="col-xs-6 col-sm-4"> @DronesUnited</div>
      <div class="col-xs-6 col-sm-4">Made with love</div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-4">By Sarah Abogabir</div>
    </div>
  </footer>
</div> -->
 
 <%= yield %> 

</body>
</html>





